<h1>Edit Product</h1>
<div class="container">
    <%= simple_form_for [:admin, @product], class: "form-horizontal" do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.file_field :avatar %>

        <%= f.association :categories, collection: Category.all, as: :check_boxes, include_hidden: false %>

        <%= f.button :submit %>

    <% end %>
</div>

<%= link_to 'Back to Product List', admin_products_path %>