<% Product.all.each do |product| %>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div style="text-decoration: underline;">
                <p><%= product.name %></p>
            </div>
            <p>
                <%= product.description %>
            </p>
            <p>
                <small> SGD</small>
                <%= number_to_currency(product.price) %>
            </p>
        </div>
        <%= link_to 'Add to Cart', add_to_cart_path(@product), method: :put %>
        <div class="card-footer">
            <% product.avatar.each do |file| %>
                <%= image_tag(product.avatar) %>
            <% end %>
        </div>
    </div>
</div>
<% end %>
<%= link_to 'Back to Product List', products_path %>
